.myForm {
  margin-top: 50px;
  margin-left: calc((100% - 200px) / 2);
}

.form-group {
  position: relative;
  width: 200px;
  margin-top: 30px;
  font-family: 'helvetica';
}

input {
  width: 100%;
  padding: 5px 0px;
  border: none;
  font-size: 12px;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

input:focus~.form-labels,
input:valid~.form-labels {
  font-size: 75%;
  color: #E2935F;
  opacity: 1;

  transform: translate3d(0, -100%, 0);
}

input:focus~.input-border-bottom:before,
input:focus~.input-border-bottom:after {
  width: 50%;
}

.form-labels {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px 0px;
  font-size: 14px;
  opacity: 0.5;
  cursor: text;

  transition: all .2s;
}

.date {

  padding: 6px 0px;
  font-size: 14px;
  opacity: 0.5;
  cursor: text;
}
.input-border-bottom {
  display: block;
  width: 100%;
  height: 1px;
  background: #ccc;
}

.input-border-bottom:before,
.input-border-bottom:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #E2935F;
  transition: 0.2s ease all;
}

.input-border-bottom:before {
  left: 50%;
}

.input-border-bottom:after {
  right: 50%;
}
.button-register {

    background-color: #E2935F;
    border: none;
    border-radius: 5px;
    padding: 3px;
    color: white;
    width: 170px;


}
