<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 id="exampleModalLabel">Ingresar a Genesis</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="register">
          <p>Si aún no tienes cuenta puede registrarse clickeando <a href="register"> aquí</a> </p>

        </div>
        <form class="myForm">

          <div class="form-group">
            <input type="email"  required />
            <label class="form-labels" for="form-mail">Mail</label>
            <span class="input-border-bottom"></span>
          </div>


          <div class="form-group">
            <input type="password"  required />
            <label class="form-labels" for="form-password">Password</label>
            <span class="input-border-bottom"></span>
          </div>
          <div class="form-group">
            <button class="button-login">Ingresar</button>

          </div>
        </form>




      </div>
      <hr>
      <div>
        <button class="login-google" > <i class="fa-brands fa-google"></i> Ingresar con Google</button>
        <br>
        <button class="login-facebook"> <i class="fa-brands fa-facebook"></i> Ingresar con Facebook</button>

      </div>
    </div>
  </div>
</div>
